.link:hover {
	cursor: pointer;
	color: blue;
}
.link {
	font-size: 12px;
	color: blue
}

.pic {
	position: relative;
	width: 373px;
	height: 373px;
	background-color: #F2F2F5;
}
.pic p{
	position: absolute;
	top: 70px;
	width: 100%;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
	color: #999;
}
.pic .upload-img {
	position: absolute;
	left: 50%;
	top: 35px;
	margin: 0 0 0 -56px;
}
.pic img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 168px;
	height: 168px;
	margin: -50px 0 0 -84px;
	border-radius:100%;
}
.pic .layui-upload-file{
	display: none;
}