<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="cn.zuoqy.blog.model.Bean"    alias="bean"/>
		<typeAlias type="cn.zuoqy.blog.model.Verify"  alias="verify"/>
		<typeAlias type="cn.zuoqy.blog.model.Member"  alias="member"/>
		<typeAlias type="cn.zuoqy.blog.model.Comment" alias="commet"/>
	</typeAliases>
</configuration>