.con {
	width: 700px;
	height: 500px;
	margin: 10 auto;
}

.layui-form-item a:hover {
	color: #009688;
}

.login-app{
	width: 24px;
	height: 24px;
	margin-left: 20px;
	opacity: 0.5;
}

.login-app:hover{opacity:1;}

/*member.jsp*/
#exit {
	position:absolute;
	display:inline;
	right:50px;
	top:15px;
	z-index: 100;
}

#exit img{
	width: 24px;
	height: 24px;
}

#exit:hover{
	cursor: pointer;
	opacity:0.5;
}

.verify:hover {
	cursor: pointer;
}
.verify {
	font-style:italic; 
	font-size: 10px;
}
.pic {
	position: relative;
	width: 373px;
	height: 373px;
	background-color: #F2F2F5;
}
.pic p{
	position: absolute;
	top: 70px;
	width: 100%;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
	color: #999;
}
.pic .upload-img {
	position: absolute;
	left: 50%;
	top: 35px;
	margin: 0 0 0 -56px;
}
.pic img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 168px;
	height: 168px;
	margin: -50px 0 0 -84px;
	border-radius:100%;
}
.pic .layui-upload-file{
	display: none;
}
.sendMail, .updateEmail {
	font-size: 13px;
	font-style:italic;
	color: blue
}

.sendMail:hover, .updateEmail:hover {
	cursor: pointer;
	color: blue
}